@use "../../styles/variables" as var;
@use "../../styles/placeholders";


.slide-item-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    padding-bottom: 1.5rem;
}

.even {
    color: var.$cream;
    background-color: var.$forest-green;
}

.contrasted {
    background-color: #0A8556;
}

.odd {
    color: var.$charcoal;
    background-color: var.$mint;
}

.item-sub-container {
    
    height: 100%;
    margin: auto;
    width: 90%;
    overflow: scroll;
}

.content {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
}

.img {
    
    width: 75%;
    margin: 1rem auto 0;
    display: flex;
}

.description {
    margin: 0 1rem 0 1rem;
}

@media screen and (width >= 768px){
    .item-sub-container {
        margin: auto;
        overflow-x: hidden;
        scrollbar-width: none;
    }
    .description {
        font-size: 32px;
    }
    
}

