@use "../../styles/variables" as var;

.button {
all: unset;
background-color: var.$golden-yellow;
border-radius: .5rem;
margin-left: 22px;
margin-bottom: 1rem;
cursor: pointer;
}

.text-button {
color: var.$charcoal;
}

@media screen and (width >= 768px){
    .text-button {
        font-size: 32px;
    }
    
}