@use "variables" as var;

@mixin text-style($size, $weight) {
    font-size: $size;
    font-weight: $weight;
  }

p {
    @include text-style(var.$font-size-base, var.$font-weight-base);
    padding: .5rem;
    font-family: var.$font-family-p;
}

h1, h2, h3 {
    font-family: var.$font-family-title;
    padding: .6rem;
    text-align: center;
}

h1 {
    @include text-style(var.$font-size-2xl, var.$font-weight-semibold);
  }

h2 {
    @include text-style(var.$font-size-lg, var.$font-weight-medium);
  }

h3 {
    @include text-style(var.$font-size-2xl, var.$font-weight-medium);
  }