// Colors 🏳‍🌈

$light-pink: #FFDFD1;
$bubblegum: #F986CB;
$light-mint: #CBFFC0;
$forest-green: #0FAC71;
$aquamarine: #3CCDB4;
$sapphire-blue: #2A00C2;
$dark-purple: #5D0D6E;
$tomato-red: #ED4353;
$light-yellow: #FFE27A;
$golden-yellow: #FED440;
$charcoal: #312E33;
$cream: #fcfcf0;

// Typography 🏁

$font-family-title: "Kreon";
$font-family-p: "Jost";

$font-weight-base: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;

$line-height-sm: 1.4;
$line-height-base: 1.5;
$line-height-lg: 1.6;

$font-size-sm: 18px;
$font-size-base: 20px;
$font-size-lg: 25px;
$font-size-xl: 30px;
$font-size-2xl: 34px;