@use "styles/variables" as var;

main {
    //utiliser width: 100% si scrollbar cause un décalage
      width: 100vw;
    }

.top-bloc {
    background-color: var.$light-pink;
}

.component-1, .component-3 {
    color: var.$charcoal;
}

.component-2 {
    color: var.$cream;
}


.header-bloc {
    background-color: var.$forest-green;
}

.education-bloc {
    background-color: var.$tomato-red;
}